


<div class="row">
    {{#each courses}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{this.img}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text"> {{this.des}}</p>
            <a href="/{{this.slug}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {{/each}}
</div>

